---
import BaseLayout from "../layouts/BaseLayout.astro";
const headerTitle = "Index page";
---

<BaseLayout headerTitle={headerTitle} metaDesc="this is page for testing swup">
  <h1>Hello world!</h1>
</BaseLayout>
<style>
  body {
    background-color: aquamarine;
  }
</style>
