---
import BaseLayout from "../layouts/BaseLayout.astro";
const headerTitle = "Page 1";
---

<BaseLayout headerTitle={headerTitle}>
  <h1>Page 1</h1>
</BaseLayout>
<style>
  body {
    background-color: royalblue;
  }
</style>
