---
import BaseLayout from "../layouts/BaseLayout.astro";
const headerTitle = "Page 2";
---

<BaseLayout headerTitle={headerTitle} metaDesc="this is my page 2">
  <h1>Page 2</h1>
</BaseLayout>
<style>
  body {
    background-color: beige;
  }
</style>
<style>
  body {
    background-color: aqua;
  }
</style>
