---
import BaseLayout from "../layouts/BaseLayout.astro";
const headerTitle = "Page 2";
---

<BaseLayout headerTitle={headerTitle} metaDesc="this is my page 2">
  <h1>Page 2</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, voluptas.
    Eius, fugiat. Repudiandae officia maxime quam, repellendus sunt cumque
    laborum nam. Consectetur eveniet nam assumenda, inventore molestiae, dicta
    ex sequi ducimus laboriosam corrupti voluptate dignissimos officiis rerum
    repellat recusandae magni vitae dolore obcaecati facilis, ipsum explicabo
    vel quaerat id harum? Dolorem, sit. Perspiciatis fuga tenetur non quisquam
    temporibus cupiditate reprehenderit sint ipsa minima culpa aut possimus,
    omnis beatae ad, repellendus at ipsum ex? Expedita quasi similique
    reprehenderit ipsum! At perferendis recusandae numquam blanditiis mollitia
    sint omnis, facilis quas dolorem soluta dicta odit, magni animi adipisci
    repellat, dignissimos accusantium tenetur porro.
  </p>
</BaseLayout>
<style>
  body {
    background-color: beige;
  }
</style>
<style>
  body {
    background-color: aqua;
  }
</style>
