---
import Header from "../components/Header.astro";

const { headerTitle, metaDesc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content={metaDesc} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{headerTitle}</title>
  </head>
  <Header />
  <body>
    <main id="swup" class="transition-fade">
      <slot />
    </main>
    <script src="../js/transitions.js"></script>
  </body>
</html>
